In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
mouse_file = "../Resources/Mouse_metadata.csv"
results_file = "../Resources/Study_results.csv"

In [3]:
mouse_df = pd.read_csv(mouse_file, encoding="utf8")
results_df = pd.read_csv(results_file, encoding="utf8")

In [4]:
mouse_df

    Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0       k403     Ramicane    Male          21          16
1       s185    Capomulin  Female           3          17
2       x401    Capomulin  Female          16          15
3       m601    Capomulin    Male          22          17
4       g791     Ramicane    Male          11          16
..       ...          ...     ...         ...         ...
244     z314     Stelasyn  Female          21          28
245     z435     Propriva  Female          12          26
246     z581    Infubinol  Female          24          25
247     z795     Naftisol  Female          13          29
248     z969     Naftisol    Male           9          30

[249 rows x 5 columns]

In [5]:
results_df

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        b128          0           45.000000                 0
1        f932          0           45.000000                 0
2        g107          0           45.000000                 0
3        a457          0           45.000000                 0
4        c819          0           45.000000                 0
...       ...        ...                 ...               ...
1888     r944         45           41.581521                 2
1889     u364         45           31.023923                 3
1890     p438         45           61.433892                 1
1891     x773         45           58.634971                 4
1892     b879         45           72.555239                 2

[1893 rows x 4 columns]

In [22]:
# Check for duplicate timepoints with a single mouse ID
duplicate_mouse_id = results_df.duplicated(subset=["Mouse ID", "Timepoint"], keep=False)
print(duplicate_mouse_id)

# Convert to DataFrame
duplicate_mouse_id_df = pd.DataFrame(duplicate_mouse_id)
# Determine how many duplicates are present
duplicate_mouse_id_df[0].value_counts()

0       False
1       False
2       False
3       False
4       False
        ...
1888    False
1889    False
1890    False
1891    False
1892    False
Length: 1893, dtype: bool

False    1883
True       10
Name: 0, dtype: int64

In [23]:
# Remove duplicate timepoints
mouse_id_reduced = duplicate_mouse_id_df.loc[duplicate_mouse_id_df[0] == False]
print(mouse_id_reduced)

          0
0     False
1     False
2     False
3     False
4     False
...     ...
1888  False
1889  False
1890  False
1891  False
1892  False

[1883 rows x 1 columns]

In [24]:
duplicate_mouse_id_df.loc[duplicate_mouse_id_df[0] == True]

         0
107   True
137   True
329   True
360   True
620   True
681   True
815   True
869   True
950   True
1111  True

In [30]:
print(results_df.iloc[107, :])
print(results_df.iloc[137, :])

Mouse ID              g989
Timepoint                0
Tumor Volume (mm3)      45
Metastatic Sites         0
Name: 107, dtype: object
Mouse ID              g989
Timepoint                0
Tumor Volume (mm3)      45
Metastatic Sites         0
Name: 137, dtype: object

In [31]:
print(results_df.iloc[329, :])
print(results_df.iloc[360, :])

Mouse ID                 g989
Timepoint                   5
Tumor Volume (mm3)    48.7868
Metastatic Sites            0
Name: 329, dtype: object
Mouse ID                 g989
Timepoint                   5
Tumor Volume (mm3)    47.5704
Metastatic Sites            0
Name: 360, dtype: object

In [32]:
print(results_df.iloc[620, :])
print(results_df.iloc[681, :])

Mouse ID                 g989
Timepoint                  10
Tumor Volume (mm3)    51.7452
Metastatic Sites            0
Name: 620, dtype: object
Mouse ID                 g989
Timepoint                  10
Tumor Volume (mm3)    49.8805
Metastatic Sites            0
Name: 681, dtype: object

In [33]:
print(results_df.iloc[815, :])
print(results_df.iloc[869, :])

Mouse ID                 g989
Timepoint                  15
Tumor Volume (mm3)    51.3259
Metastatic Sites            1
Name: 815, dtype: object
Mouse ID                g989
Timepoint                 15
Tumor Volume (mm3)    53.442
Metastatic Sites           0
Name: 869, dtype: object

In [34]:
print(results_df.iloc[950, :])
print(results_df.iloc[1111, :])

Mouse ID                 g989
Timepoint                  20
Tumor Volume (mm3)    55.3261
Metastatic Sites            1
Name: 950, dtype: object
Mouse ID                 g989
Timepoint                  20
Tumor Volume (mm3)    54.6577
Metastatic Sites            1
Name: 1111, dtype: object